// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&family=Roboto:wght@300;400;500;700&display=swap");

:root {
    --primary-color: #f07279;
    --primary-color-rbg: 240, 114, 121;
    --primary-color-text: #1e2d50;
    --secondary-color: #f79ca4;
    --focus-ring: 0 0 0 0.2rem #faadb3;
    --font-family: "Roboto", sans-serif;
}

.p-component {
    font-family: var(--font-family);
    font-weight: 400;
}

// Button
.p-button {
    background: var(--primary-color);
    border-color: var(--primary-color);
    font-weight: 900;

    &.p-button-outlined {
        color: var(--primary-color) !important;
        border: 2px solid;

        &:enabled:hover {
            background: rgba(var(--primary-color-rbg), 0.1) !important;
            border: 2px solid;
        }
    }

    &:focus {
        box-shadow: none;
    }

    &:enabled:hover {
        background: #db696e;
        border-color: var(--primary-color);
    }

    &.p-button-text {
        color: var(--primary-color);

        &:enabled:hover {
            color: var(--primary-color);
            background: rgba(245, 113, 120, 0.2);
        }
    }
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-close:focus {
    box-shadow: inset 0 0 0 0.15rem var(--primary-color) !important;
}

.p-toast .p-toast-message .p-toast-icon-close:focus {
    box-shadow: none;
}

// Ripple in button ?
// .p-ink-active {
//     background-color: rgba(var(--primary-color-rbg), 0.4) !important;
// }

// Menu page
.p-menu .p-menuitem-link:focus {
    box-shadow: inset 0 0 0 0.15rem var(--primary-color);
}

// Paginator
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: rgb(250, 173, 179, 0.5);
}

// Sorted columns
.p-datatable .p-sortable-column,
.p-datatable .p-sortable-column.p-highlight,
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: var(--primary-color);

    &:hover {
        color: var(--primary-color) !important;

        .p-sortable-column-icon {
            color: var(--primary-color) !important;
        }
    }

    &:focus {
        box-shadow: inset 0 0 0 0.15rem var(--primary-color);
    }
}

.p-datatable .p-datatable-thead > tr > th {
    padding-right: 0.5rem;
}

.p-column-filter-overlay
    .p-column-filter-row-items
    .p-column-filter-row-item:focus {
    box-shadow: inset 0 0 0 0.15rem var(--primary-color) !important;
}

.p-column-filter-menu-button.p-column-filter-menu-button-active,
.p-column-filter-menu-button.p-column-filter-menu-button-active:hover {
    background: rgba(var(--primary-color-rbg), 0.3) !important;
}

.p-datatable .p-datatable-tbody > tr > td .p-row-toggler:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-init:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-save:focus,
.p-datatable .p-datatable-tbody > tr > td .p-row-editor-cancel:focus {
    box-shadow: inset 0 0 0 0.15rem var(--primary-color) !important;
}

// Badge
.p-badge {
    background: var(--primary-color);
}

.p-link:focus {
    box-shadow: 0 0 0 0.2rem var(--primary-color);
}

// Input Text
.p-inputtext {
    font-family: var(--font-family) !important;

    &:enabled:hover {
        border-color: var(--primary-color) !important;
    }

    &:enabled:focus {
        box-shadow: 0 0 0 0.1rem var(--primary-color) !important;
        border-color: var(--primary-color) !important;
    }
}

.p-inputnumber {
    .p-inputtext:enabled:focus {
        box-shadow: none !important;
    }
}

// Multiselect
.p-multiselect:not(.p-disabled):hover {
    border-color: var(--primary-color);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    background: rgba(var(--primary-color-rbg), 0.1);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    box-shadow: inset 0 0 0 0.15rem var(--primary-color) !important;
}

// Dropdown
.p-dropdown:not(.p-disabled):hover {
    border-color: var(--primary-color) !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: rgba(var(--primary-color-rbg), 0.1);
}

// Checkbox
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--primary-color) !important;
    background: var(--primary-color) !important;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: var(--primary-color) !important;
}

// Calendar
.p-datepicker .p-datepicker-header .p-datepicker-prev:focus,
.p-datepicker .p-datepicker-header .p-datepicker-next:focus {
    box-shadow: 0 0 0 0.2rem var(--primary-color) !important;
}

.p-datepicker table td > span.p-highlight {
    background: rgba(var(--primary-color-rbg), 0.2) !important;
}

.p-datepicker table td > span:focus {
    box-shadow: 0 0 0 0.2rem var(--primary-color) !important;
}

// Overplay Panel
.p-overlaypanel::after,
.p-overlaypanel::before {
    content: none !important;
}

// Dialog
.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
    box-shadow: 0 0 0 0.2rem var(--primary-color) !important;
}

// Focus state of element
.p-focus {
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 0 0.1rem var(--primary-color) !important;
}

// File upload
.p-fileupload-choose:not(.p-disabled):hover {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

// Breadcumb
.p-breadcrumb ul li .p-menuitem-link:focus {
    box-shadow: none !important;
}

// Radio button
.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: var(--primary-color);
    background: var(--primary-color);
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: var(--primary-color);
    background: var(--primary-color);
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: var(--primary-color);
}

// Layout Override
.layout-sidebar {
    width: 250px;
}

// ** My custom css
.app-highlight {
    font-weight: bold;
    color: var(--primary-color);
}

.app-note {
    font-size: 0.875rem;
    font-weight: bold;
    font-style: italic;
    color: var(--primary-color);
}

.app-form-error {
    font-size: 0.875rem;
    font-weight: 500;
    font-style: italic;
    color: var(--primary-color);
}

.app-router-link-icon {
    i {
        margin-right: 0.5rem;
    }
}

body::-webkit-scrollbar,
.scrollbar-style::-webkit-scrollbar {
    width: 0.6em;

    &-track {
        background: transparent;
        border-radius: 1000px;
        margin-block: 10px;
    }

    &-thumb {
        background: var(--primary-color);
        border-radius: 1000px;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Form login
.form_content {
    input:focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 0.2rem var(--secondary-color) !important;
        border-color: var(--PRIMARY_COLOR) !important;
    }

    input:hover {
        border-color: var(--secondary-color) !important;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
        border-color: var(--secondary-color) !important;
        background: var(--secondary-color) !important;
        color: #ffffff;
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
        border-color: var(--secondary-color) !important;
        box-shadow: 0 0 0 0.2rem var(--secondary-color) !important;
    }

    .p-checkbox .p-checkbox-box.p-highlight {
        border-color: var(--secondary-color) !important;
        background: var(--secondary-color) !important;
    }
}

.reason-tooltip .p-tooltip-text {
    color: rgb(255, 255, 255);
    width: max-content;
}

@media (min-width: 992px) {
    .layout-wrapper {
        &.layout-static {
            .layout-main-container {
                margin-left: 250px;
            }
        }
    }
}
