:root {
  --PRIMARY_COLOR: #f07279;
  --SECONDARY_COLOR: #f79ca4;
  --DARK_BLUE: #1e2d50;
  --DARK_PINK: #b6555a;
}

.p-carousel-container button,
.p-carousel-indicator.p-highlight button {
  background-color: var(--PRIMARY_COLOR) !important;
}

.p-carousel-container button:hover,
.p-carousel-indicator button:hover {
  background-color: var(--SECONDARY_COLOR) !important;
}

.blood-table {
  table {
    width: 700px;
  }
  .p-datatable-header {
    color: #fff;
    background-color: var(--PRIMARY_COLOR);
    border: 1px solid var(--PRIMARY_COLOR);
  }

  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tbody > tr,
  .p-datatable .p-datatable-tbody > tr > td {
    color: #000;
    background-color: #fff !important;
    border: 1px solid var(--PRIMARY_COLOR);
  }

  .p-datatable .p-datatable-tbody > tr > td:first-child {
    color: var(--DARK_PINK);
    font-weight: bold;
  }
}
