.stock-badge,
.blood-badge {
    border-radius: var(--border-radius);
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.blood-badge {
    &.type-A {
        background: #c8e6c9;
        color: #256029;
    }

    &.type-B {
        background: #ffcdd2;
        color: #c63737;
    }

    &.type-AB {
        background: #feedaf;
        color: #8a5340;
    }

    &.type-O {
        background: #b3e5fc;
        color: #23547b;
    }

    &.type-Rh {
        background: #eccfff;
        color: #694382;
    }
}

.stock-badge {
    &.status-great {
        background: #c8e6c9;
        color: #256029;
    }

    &.status-good {
        background: #feedaf;
        color: #8a5340;
    }

    &.status-low {
        background: #ffcdd2;
        color: #c63737;
    }

    &.status-out {
        background: lightgray;
    }
}
