.event-badge {
  border-radius: var(--border-radius);
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
}

.event-badge {
  &.status-passed {
    background: lightgray;
  }

  &.status-ongoing {
    background: #c8e6c9;
    color: #256029;
  }

  &.status-upcoming {
    background: #feedaf;
    color: #8a5340;
  }
}
