:root {
  --PRIMARY_COLOR: #f07279;
  --SECONDARY_COLOR: #f79ca4;
  --DARK_BLUE: #1e2d50;
  --LIGHT_BLUE: #284996;
  --DARK_PINK: #b6555a;
}

.p-carousel-container button,
.p-carousel-indicator.p-highlight button {
  background-color: var(--PRIMARY_COLOR) !important;
}

.p-carousel-container button:hover,
.p-carousel-indicator button:hover {
  background-color: var(--SECONDARY_COLOR) !important;
}

.blood_table {
  table {
    width: 650px;
  }
  .p-datatable-header {
    color: #fff;
    background-color: var(--PRIMARY_COLOR);
    border: 1px solid var(--PRIMARY_COLOR);
  }

  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tbody > tr,
  .p-datatable .p-datatable-tbody > tr > td {
    color: #000;
    background-color: #fff !important;
    border: 1px solid var(--PRIMARY_COLOR);
  }

  .p-datatable .p-datatable-tbody > tr > td:first-child {
    color: var(--DARK_PINK);
    font-weight: bold;
  }
}

.tab_view-blood {
  h3 {
    color: #292929;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #fff;
    border-bottom: 1px solid var(--PRIMARY_COLOR);
    color: var(--DARK_BLUE);
  }

  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border: solid #ccc;
    border-width: 0 0 2px 0;
    background-color: transparent;
    color: var(--PRIMARY_COLOR);
    padding: 0.75rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    transition: box-shadow 0.2s;
    margin: 0 0 -2px 0;
  }

  .p-tabview .p-tabview-panels {
    background-color: transparent;
  }

  .p-tabview .p-tabview-nav {
    border: 1px solid #ccc;
    border-width: 0 0 2px 0;
  }

  .p-tabview
    .p-tabview-nav
    li:not(.p-highlight):not(.p-disabled):hover
    .p-tabview-nav-link {
    background: transparent;
    color: #337ab7;
  }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }
}

.form_content {
  input:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem var(--SECONDARY_COLOR) !important;
    border-color: var(--PRIMARY_COLOR) !important;
  }

  input:hover {
    border-color: var(--SECONDARY_COLOR) !important;
  }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: var(--SECONDARY_COLOR) !important;
    background: var(--SECONDARY_COLOR) !important;
    color: #ffffff;
  }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: var(--SECONDARY_COLOR) !important;
    box-shadow: 0 0 0 0.2rem var(--SECONDARY_COLOR) !important;
  }

  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: var(--SECONDARY_COLOR) !important;
    background: var(--SECONDARY_COLOR) !important;
  }
}

.p-dataview-header {
  .p-selectbutton .p-button.p-highlight {
    background: var(--PRIMARY_COLOR);
    border-color: var(--PRIMARY_COLOR);
    color: #ffffff;
  }
  .p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--SECONDARY_COLOR),
      0 1px 2px 0 black;
  }

  .p-button:hover {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--SECONDARY_COLOR),
      0 1px 2px 0 black;
  }
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #f8d4d7;
  border-color: var(--PRIMARY_COLOR);
  color: var(--PRIMARY_COLOR);
}

.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background: #f8d4d7;
  border-color: var(--PRIMARY_COLOR);
  color: var(--PRIMARY_COLOR);
}

.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover {
  background: #f8d4d7;
  border-color: var(--PRIMARY_COLOR);
  color: #343a40;
}

.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem var(--SECONDARY_COLOR);
}

.form-donation {
  .card {
    .p-inputtext:hover {
      border-color: var(--DARK_BLUE);
    }

    .p-inputtext:enabled:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0 0.2rem var(--LIGHT_BLUE);
      border-color: var(--LIGHT_BLUE);
    }

    .p-button {
      color: #ffffff;
      background: var(--DARK_BLUE);
      border: 1px solid var(--DARK_BLUE);
      padding: 0.75rem 1.25rem;
      font-size: 1rem;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
      border-radius: 6px;
    }

    .p-button:focus {
      box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--DARK_BLUE),
        0 1px 2px 0 black;
    }

    .p-button:enabled:hover {
      box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--DARK_BLUE),
        0 1px 2px 0 black;
      background-color: var(--LIGHT_BLUE);
      color: #ffffff;
    }

    .p-button.p-component.p-button-text:hover {
      box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--DARK_BLUE),
        0 1px 2px 0 black;
      background-color: var(--LIGHT_BLUE);
      color: #ffffff;
      border-color: var(--DARK_BLUE);
      transition: background-color 0.2s, color 0.2s, border-color 0.2s;
    }

    .p-radiobutton .p-radiobutton-box.p-highlight {
      border-color: var(--DARK_BLUE);
      background: var(--DARK_BLUE);
    }

    .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
      border-color: var(--DARK_BLUE);
    }

    .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
      box-shadow: 0 0 0 0.2rem #3d5792;
    }

    .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
      border-color: var(--DARK_BLUE);
      background: var(--DARK_BLUE);
      color: #ffffff;
    }

    .p-checkbox .p-checkbox-box.p-highlight {
      border-color: var(--DARK_BLUE);
      background: var(--DARK_BLUE);
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
      border-color: var(--DARK_BLUE);
    }

    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
      border-color: var(--DARK_BLUE);
      background: var(--DARK_BLUE);
      color: #ffffff;
    }
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0 0.2rem #4074b4;
      border-color: var(--DARK_BLUE);
    }
  }
  .p-tag {
    background: var(--SECONDARY_COLOR) !important;
  }
}
